<section>
    <ion-toolbar class="modal-header">
        <ion-title>Randomly Generated Quiz</ion-title>
    </ion-toolbar>
</section>
<section class="content">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item mode="ios">
                    <ion-label>Choose a category</ion-label>
                    <ion-select placeholder="Select One" mode="ios" interface="popover">
                        <ion-select-option value="f">Female</ion-select-option>
                        <ion-select-option value="m">Male</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>How do you feel today for a challenge?</ion-col>
        </ion-row>
        <ion-row>
            <ion-col>how many questions do you want?</ion-col>
        </ion-row>
    </ion-grid>
</section>