@font-face {
    font-family: 'Hacked';
    src: url('../assets/fonts/Hacked-KerX.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Play Me Games';
    src: url('../assets/fonts/Playmegames.ttf');
    font-weight: 200;
    font-style: normal;
}